@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="align-content-md-center" >
    <div class="col-4">
        
        <h2 class="alert-danger" >Access Denied <i class="fas fa-ban fa-3x"></i></h2>  </i>
        <h5 class="alert-info">You don't have permission to view this page</h5>
    </div>
    <div>
        <img src="~/icons/dmsico2.png" alt="Alternate Text" />
    </div>
</div>

