
<div class="alert-info">
    <h3>Something went wrong, and the application can't resolve it! </h3>
</div>

<hr />
<br />

<div class="alert-info">
    <h4>Please Contact the AppAdmin and report the issue </h4>
</div>
<hr />

<a asp-action="Index" asp-controller="Home">
    Click here to navigate back to the Home Page
</a>