
@{
    ViewBag.Title = "Not Found";
}

<h1> @ViewBag.ErrorMessage </h1>
<h1> @TempData["NotFound"] </h1>

    <div>
        <a asp-action="Index" asp-controller="Home" class="btn-group" style="width:auto">
            Back to the Home Page
        </a>
    </div>
